body{
    background-color : white ; 
}

h1{ 
    font-size: 25px ; color : black;
}

.big{
    font-size: 60px; color : green;
}

.center{
    max-width: 50%; max-height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p1{
    font-size: 15px; line-height: 20px;
}

.div1{
    font-size: 20px; 
}