body{
    background-image: linear-gradient(to right, rgb(255, 210, 247), rgb(186, 210, 255));
}

h1{ 
    font-size: 30px ; color : black;
}

.center{
    max-width: 40%; max-height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texte_classique{
    font-size: 20px
}

.medium{
    font-size: 23px; 
}

.encadré_rose{
    background-color: rgb(234, 199, 255);
    border: solid rgb(189, 119, 255) 2px;
    border-radius: 2px;
}

.button {
    background-color: #b1e9ff;
    border: solid rgb(0, 183, 255) 2px;
    border-radius: 8px;
    color: rgb(0, 115, 160);
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor : pointer;
}

.button:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    Transform: translate(0,3px)
}

.menu {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .menu a {
    background-color: rgb(255, 255, 255);
    color: rgb(104, 0, 173); 
    border: solid rgb(104, 0, 173); 
    display: inline-block; 
    padding: 12px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor : pointer;
    text-align : center;
    width: 10%;
  }
  
  .menu a:hover {
    background-color: rgb(245, 231, 255);
  }
  